* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s linear;
}

html {
    /* to make 1rem = 10px */
    font-size: 62.05%;
    scroll-behavior: smooth;
}

body {
    color: #2A0C00;
}

/* Section one start */
.section-one {
    background-image: url(../images/main-yellow-bg-header.png);
    padding: 4rem;
    height: 100vh;
}

/* Header-start */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right span {
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
}

/* Header-end */

/* navbar-start */
nav ul {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
    list-style: none;
    padding: 1rem 0;
}

nav ul li a {
    color: black;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1rem;
    letter-spacing: 0.2rem;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(223, 6, 6);
    border-bottom: 5px solid rgb(223, 6, 6);
}


/* navbar-end */

/* Main start */
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
}

.content-right {
    width: 50%;
    text-align: left;
    padding-top: 20rem;
}

.content-right p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 0.7rem;
    border: 0.3rem dashed #2A0C00;
    width: 35rem;
}

.content-right h1 {
    font-size: 10rem;
    font-family: 'Arvo', serif;
}

.content-right h4 {
    font-size: 7rem;
    font-family: 'Arvo', serif;
}

.content-left {
    position: relative;
    width: 50%;
    text-align: right;
}

#red-circle{
    position: absolute;
    bottom: 17rem;
    left: 12.2rem;
    width: 22%;
}

.main-text {
    position: absolute;
    bottom: 21rem;
    left: 16rem;
    color: white;
}

.main-text h1{
    font-size: 4rem;
    font-weight: 600;
}

.main-text h1 span{
    font-size: 3rem;
    font-weight: 600;
}

.main-text h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
}

/* Main end */
/* Section one end */

/* Section two start */
.section-two {
    height: 100vh;
}

.images-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
}

.images-content img {
    padding: 2rem;
}

.text-content .always-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-content .always-wrapper .always-text {
    background-color: #FFC84E;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.7rem;
    letter-spacing: -0.1rem;
}

.text-content h1 {
    font-family: 'Arvo', serif;
    padding: 1rem;
    font-size: 5rem;
    font-weight: bolder;
    letter-spacing: -0.1rem;
}

.text-content p {
    width: 70%;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    line-height: 2.5rem;
}

.col-first {
    position: relative;
}

.col-first-text {
    position: absolute;
    top: 5rem;
    left: 4rem
}

.col-first-text h2 {
    font-size: 2.5rem;
    font-weight: bolder;
}

.row-first {
    position: relative;
}

.row-first-text {
    position: absolute;
    top: 5rem;
    left: 4rem
}

.row-first-text h2 {
    font-size: 2.5rem;
    font-weight: bolder;
}

.row-first-text h3 {
    font-size: 2.5rem;
    font-weight: bolder;
}

.row-second {
    position: relative;
}

.row-second-text {
    position: absolute;
    top: 5rem;
    left: 4rem
}

.row-second-text h2 {
    font-size: 2.5rem;
    font-weight: bolder;
}



/* Section two end */

/* Section three start */
.section-three {
/*     height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 2rem;
    letter-spacing: -0.1rem;
    font-weight: bolder;
    text-align: center;
}

.section-three p {
    font-size: 1.5rem;
    font-weight: 400;
}

.section-three .orderbtn {
    width: 40%;
    align-items: center;
    background-color: rgb(223, 6, 6);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 0.5rem;
    margin: 0 auto;
    font-family: 'Arvo', serif;
    font-weight: 700;
    color: white;
    margin-top: 1rem;
}

.section-three-text {
    padding: 4rem;
}

.section-three-text .title {
    padding: 1rem 0;
}

.section-three-text p {
    padding: 1rem 0;
}

/* Section three end */

/* Section four start */
.section-four {
    padding: 4rem;
}

.section-four .wrapper-section-four {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 2px 2px 8px 2px lightgray;
    border-radius: 0.2rem;
    padding: 2rem;
}

.section-four .wrapper-section-four .section-four-text {
    width: 50%;
    padding-right: 2rem;
}

.section-four .wrapper-section-four .section-four-img {
    text-align: center;
    width: 50%;
}

.section-four .wrapper-section-four .section-four-img img {
    width: 100%;
}

.section-four .wrapper-section-four .section-four-text h1 {
    font-size: 2rem;
    font-weight: 700;
}

.section-four .wrapper-section-four .section-four-text h2 {
    font-size: 4rem;
    font-weight: bolder;
    font-family: 'Arvo', serif;

}

.section-four .wrapper-section-four .section-four-text p {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.175rem;
    word-spacing: 0.2rem;
    line-height: 2.5rem;
}

.section-four .wrapper-section-four .yellow-circle {
    background-color: #FFC84E;
    padding: 0.4rem 0;
    border-radius: 50%;
}

.section-four .wrapper-section-four .grey-circle {
    background-color: rgb(211, 205, 205);
    padding: 0.4rem 0;
    border-radius: 50%;
}

.dots-wrapper {
    padding: 2rem 0;
}
/* Section four end */

/*Section five start */

.section-five-first-row {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 250px;
}

.section-five-first-row-text {
    width: 100%;
    padding-left: 19rem;
}

.section-five-first-row-text h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-left: 17rem;
}

.section-five-first-row-text h2 {
    font-size: 5rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    font-family: 'Arvo', serif;
}

.section-five-second-row {
    display: flex;
    justify-content: center;
    margin-top: -15rem;
    align-items: center;
}

.form-wrapper {
    text-align: center;
}

input[type="text"] {
    width: 40%;
    margin: 1rem;
    padding: 2rem 1rem;
    border: 1px solid #2A0C00;
    outline: none;
    border-radius: 0.3rem;
}

button[type="submit"] {
    cursor: pointer;
    width: 40%;
    margin: 1rem;
    padding: 2rem 1rem;
    background-color: rgb(223, 6, 6);
    color: white;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    font-size: large;
    font-weight: bolder;
    font-family: 'Arvo', serif;
}

.disc-wrapper {
    text-align: end;
    margin-bottom: -6rem;
    margin-top: 10rem;
}

#disc {
    width: 90%;
}

.bottle-wrapper {
    text-align: end;
}

#bottle {
    margin-left: 10rem;
    width: 80%;
    margin-bottom: -8rem;
}
/* Section five end */

/* Section six start */

.section-six {
    padding: 0 4rem 4rem 4rem;
    position: relative;
    color: white
}

.section-six-text {
    position: absolute;
    top: 4rem;
    left: 8rem;
}

.footer {
    background-image: url(../images/footer-bg.png);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-first-row {
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.footer-first-row p {
    font-size: 1.5rem;
    padding-top: 3rem;
    color: whitesmoke;
    opacity: 0.5;
    padding-bottom: 8rem;
    line-height: 2rem;
    text-align: justify;
}

.add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location img {
    padding: 1rem;
}

.location span {
    font-size: 1.5rem;
    font-weight: 200;
}

.email {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: -3rem;
}

.email img {
    padding: 1rem;
    margin-left: -6rem;
}

.email span {
    font-size: 1.5rem;
    font-weight: 200;
}

.icons {
    padding-right: 7rem;
    text-align: right;
}

.icons img {
    padding-left: 1rem;
}

.trade {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trade p {
    font-size: 1.3rem;
    padding-top: 2rem;
    font-weight: 200;
}
/* Section six end */


@media screen and (max-width:768px) {
    html {
        font-size: 40%;
    }

    .section-one,
    .section-two {
        height: 100vh;
    }

    .header-left img {
        width: 70%;
    }

    nav ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4rem;
    }

    .content-left {
        width: 100%;
        text-align: center;
    }

    #red-circle{
        position: absolute;
        bottom: 10rem;
        left: 6rem;
        width: 30%;
    }
    
    .main-text {
        position: absolute;
        bottom: 14rem;
        left: 10rem;
        color: white;
    }
    
    .main-text h1{
        font-size: 4rem;
        font-weight: 600;
    }
    
    .main-text h1 span{
        font-size: 3rem;
        font-weight: 600;
    }
    
    .main-text h2{
        font-size: 3rem;
        font-weight: 700;
        text-align: left;
    }

    .content-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10rem;
    }

    .content-right p {
        text-align: center;
        font-size: 2.3rem;
        font-weight: 700;
        padding: 1.5rem 0.7rem;
        margin-bottom: 2rem;
        width: 80%;
    }

    .images-content img {
        width: 100%;
        padding: 1rem;
    }

    .section-three {
        height: 200vh;
        display: flex;
        flex-direction: column;
    }

    .section-three-text {
        padding: 2rem 10rem;
    }

    .section-four .wrapper-section-four {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .section-four .wrapper-section-four .section-four-text {
        width: 100%;
        padding-right: 0rem;

    }

    .section-four .wrapper-section-four .section-four-img {
        text-align: center;
        width: 100%;
    }

    .section-four .wrapper-section-four .section-four-text p {
        padding-bottom: 0rem;
    }

    .dots-wrapper {
        padding: 4rem 0;
    }

    /* section-five */
    .section-five-first-row {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        height: 240px;
    }

    .section-five-first-row-text {
        width: 100%;
        padding-left: 0rem;
        text-align: center;
        margin-top: -12rem;
    }

    .section-five-first-row-text h1 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        padding-left: 0rem;

    }

    .section-five-first-row-text h2 {
        font-size: 5rem;
        font-weight: bolder;
        margin-bottom: 2rem;
        font-family: 'Arvo', serif;
    }

    .section-five-second-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -15rem;
        align-items: center;

        padding-top: 30rem;

    }

    .form-wrapper {
        text-align: center;
        margin-top: -12rem;
    }

    input[type="text"] {
        width: 90%;
        margin: 1rem;
        padding: 2.5rem 1rem;
        border: 1px solid #2A0C00;
        outline: none;
        border-radius: 0.3rem;
    }

    button[type="submit"] {
        cursor: pointer;
        width: 90%;
        margin: 1rem;
        padding: 2.5rem 1rem;
        background-color: rgb(223, 6, 6);
        color: white;
        border: none;
        outline: none;
        border-radius: 0.3rem;
        font-size: large;
        font-weight: bolder;
        font-family: 'Arvo', serif;
    }

    .disc-wrapper {
        text-align: end;
        margin-bottom: -43rem;
        margin-top: -2rem;
    }

    #burger {
        margin-left: -12rem;
        width: 90%;
    }

    #disc {
        width: 70%;
        margin-right: -11rem;
    }

    .bottle-wrapper {
        text-align: end;
    }

    #bottle {
        margin-left: 10rem;
        width: 80%;
        margin-bottom: -8rem;
        display: none;
    }

    .section-six {
        margin-top: 37rem;
        padding: 0;
    }

    .footer-first-row,
    .footer-second-row {
        display: grid;
        grid-template-columns: 12fr;
    }

    .about img {
        width: 50%;
    }

    .section-six-text {
        position: absolute;
        top: 5rem;
        left: 2rem;
    }

    .footer-first-row p {
        font-size: 2rem;
        padding-top: 3rem;
        color: whitesmoke;
        opacity: 0.5;
        padding-bottom: 5rem;
        line-height: 2rem;
        text-align: left;
    }

    .add {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: baseline;
    }

    .email img {
        margin-left: 0rem;
    }

    .icons {
        padding-right: 3rem;
    }
}
